@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  margin: 0;
  padding: 0;
  font-family: "Diphylleia", serif;
  box-sizing: border-box;
  color-scheme: light;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(224 242 254 / var(--tw-bg-opacity));
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.lato-light {
  font-family: "Lato", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.p-inputtext, .p-dropdown-trigger {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity));
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.p-dialog-header {
  padding: 10px 10px;
}

.p-dialog-content {
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 0px) and (max-width: 640px) {
  .p-inputtext {
    font-size: 14px;
  }
  .p-dropdown-trigger {
    width: 23px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .p-inputtext {
    font-size: 14px;
  }
  .p-dropdown-trigger {
    width: 23px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .p-inputtext {
    font-size: 14px;
  }
  .p-dropdown-trigger {
    width: 23px;
  }
}

@media (min-width: 1024px) {
  .p-inputtext {
    font-size: inherit;
  }

  .p-dropdown-trigger {
    /* border: solid 1px black; */
    width: 30px;
  }
}

